.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

button {
  width: 140px;
  height: 30px;
  background-color: #18A2A1;
  border: 1px solid #18A2A1;
  border-radius: 8px;
  color: #FFFFFF;
}

button:disabled {
  background-color: #18a2a28c;
  border: 1px solid #18a2a28c;
  color: #dddddd;
}