.main {
  font-size: large;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 5vh;
  background-color: rgba(126, 126, 126, 0.328);
  border-radius: 20px;
  box-shadow: 5px 4px #888888;
}

.input-container, .btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  text-align: center;
}

#username, #password {
  border: 2px solid #D6DF28;
  border-radius: 8px;
  padding: 8px;
  margin: 15px;
}

.remember-container {
  font-size: 16px;
  padding: 8px;
}

input, button {
  text-align: center;
  margin: 8px;
  padding: 4px;
}

.span-login-invalid {
  color: red;
}

@media (min-width: 1080px) {
  .login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
    width: 50%;
  }

  #username, #password {
    border: 2px solid #D6DF28;
    border-radius: 8px;
    padding: 8px;
    margin: 15px;
    width: 250px;
  }
}