.main {
  font-size: large;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 5vh;
  background-color: rgba(126, 126, 126, 0.328);
  border-radius: 20px;
  box-shadow: 5px 4px #888888;
}

.input-container, .btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  text-align: center;
}

.remember-container {
  font-size: 16px;
  padding: 8px;
}

input, button {
  text-align: center;
  margin: 8px;
  padding: 4px;
}

.span-login-invalid {
  color: red;
}

